/backapp/__pycache__
/backapp/databases/__pycache__
/TrainMission/.vitepress/cache/deps
/TrainMission/node_modules/dayjs
/node_modules
/backapp/auth/__pycache__

.idea
requirement.txt
/backapp/cmd
/backapp/test_data.sql
/backapp/auth/__pycache__

