/backapp/__pycache__
/backapp/databases/__pycache__
/TrainMission/.vitepress/cache/deps
/TrainMission/node_modules/dayjs
/node_modules


.idea
requirement.txt
/backapp/cmd
/backapp/test_data.sql
*.pyc
/backapp/static/Images
/backapp/static/spine_assets
/backapp/static/assets
/backapp/static/l2d
/backapp/static/prompts
/backapp/static/img
/backapp/static/transform
backapp/static/60651947_p0.jpg
backapp/static/aris.jpeg
backapp/static/avatar-ai.jpg
backapp/static/avatar-user.jpg
backapp/static/background.svg
backapp/static/favicon.ico
backapp/static/index.html
backapp/static/shitim/Event_Main_Stage_Bg.png
backapp/static/shitim/Tran_Shitim_Icon.png
backapp/static/task.png
backapp/static/transfrom.webm
backapp/static/vite.svg
/venv
/backapp/build
/backapp/personal_health_assistant.egg-info
/backapp/dist

docs/build
docs/source
docs/make.bat
docs/Makefile
backapp/openapi.json
jenkins_docgen.txt